/Pladipus-execution/target/
/Pladipus-core/target/
/Pladipus-search/target/
/Pladipus-installer/target/
/Pladipus-blast/target/
/Pladipus-denovo/target/
/Pladipus-pride/
/Pladipus-msconvert/target/
/Pladipus-installer/src/main/resources/
/Pladipus-installer/test/main/resources/